mat-toolbar {
    height: 50px;
    font-size: 0.9em;
    /* background-color: black; */
}

.sidenav-toolbar {
    /* background-color: #FF5722; */
    border-right: 2px solid white;
    color: white;
}

.content-toolbar {
    color: white;
    background-color: black;
}

.sidenav {
    /* position: fixed; */
    /* left:0; */
    /* top: 0; */
    /* bottom: 0; */
    height: 100%;
    background-color: white;
}

.end-sidenav {
    margin-top: 50px;
    position: fixed;
    background-color: #455A64;
}

.spacer {
    flex: 1 1 auto;
}

.icon {
    padding: 0 10px;
}

.list-item {
    display: flex;
    align-items: center;
    color: black;
    font-size: 0.8em;
}

.list-item:hover {
    color: #FF8A65;
}

.list-icon {
    margin-right: 10px;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}

.menu-button {
    color: white;
}