<mat-card>
  <mat-form-field style="width:100%;">
    <mat-select placeholder="Select a team" [(ngModel)]="team" (selectionChange)="getTeamMembers()">
      <mat-option value='YOLO'>YOLO</mat-option>
      <mat-option value='김선자'>김선자</mat-option>
      <mat-option value='새가족'>새가족</mat-option>
      <mat-option value='아람단'>아람단</mat-option>
      <mat-option value='햄볶음'>햄볶음</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width:100%;">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="attendanceDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-form-field>
  <mat-list>
    <mat-list-item><span fxFlex="34%">이름</span><span fxFlex="33%">주일예배</span><span fxFlex="33%">셀모임</span></mat-list-item>
    <mat-list-item *ngFor="let member of members">
      <span fxFlex="34%">{{member.Name}}</span>
      <mat-checkbox color="primary" fxFlex="33%" [(ngModel)]="member.sundayChecked"></mat-checkbox>
      <mat-checkbox fxFlex="33%" [(ngModel)]="member.meetingChecked"></mat-checkbox>
      <mat-divider></mat-divider>
    </mat-list-item>
    <button mat-raised-button color="primary" style="width: 100%;" (click)="addAttendance()" routerLink="/member-management"><span style="color: white;">Submit</span></button>
  </mat-list>
</mat-card>
