<mat-card>
    <form>
        <mat-form-field>
            <input matInput placeholder="Title" [(ngModel)]="title" name="title">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Content" [(ngModel)]="content" name="content">
        </mat-form-field> 
        <button mat-button (click)="submit()">Submit</button>
    </form>
</mat-card>

<ul *ngFor="let post of posts | async">
    <li>
        <strong>{{post.title}}</strong>
        <br>
        {{ post.content }}
    </li>
</ul>
<mat-card>Simple card 1</mat-card>
<mat-card class="card">Simple card 2</mat-card>