<mat-card>
    <mat-form-field style="width:100%;">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedDate" (dateChange)="viewAttendance()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-form-field>
</mat-card>
<mat-card>
    <mat-card-subtitle>Total Members</mat-card-subtitle>
    <mat-card-title>{{total}}</mat-card-title>
    <mat-card-subtitle>Worship Attendance</mat-card-subtitle>
    <mat-card-subtitle>Meeting Attendance</mat-card-subtitle>
</mat-card>

